/* CustomCursor.css */

/* .custom-cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
  }
  
  .cursor-icon {
    width: 40px; 
    height: 40px;
    user-drag: none;
    user-select: none;
  } */
  

  .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
  }

  .cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -6px;
    left: -6px;
    animation: cursorAnim2 .5s infinite alternate;
  }

  @keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(.7);
    }
  }

  @keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(.4);
    }
  }

  @keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
  }


  .expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid rgb(32, 32, 32);
  }